---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead pb-0 mb-0"
  style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
          <!-- <div class="page-heading">
          </div> -->
        </div>
      </div>
    </div>
  </header>

  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
        <div class="image">
          <a href="{{ '/assets/images/book_club/logo/main_logo.png' | prepend: site.baseurl | replace: '//', '/' }}">
            <img src="{{ '/assets/images/book_club/logo/main_logo.png' | prepend: site.baseurl | replace: '//', '/' }}"
              class=" border-white" alt="Book Club Logo">
          </a>
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>
          Welcome to the STEM Book Club! A Book club for curious people who love learning all things Science, Technology, Engineering, and Math!
        </p>
        <p> 
          Do you love STEM? Do you find yourself asking yourself wonderfully curious questions like - 
        </p>  
          <ul>
            <li>How do scientist calculate the mass of the Earth?</li> 
            <li>Why were the Egyptians able to calculate imaginary numbers without using negatives?</li>
            <li>Why did Neanderthals go exstinct? </li>
          </ul>
        <p>
          Than this is the place for you, and we are so glad you are here!
        </p>
      </div>
    </div>
    <div class="row ">
      <div class="col-lg-8 col-md-10 col-sm-12 mx-auto text-center">
        <p>
          <a class="btn btn-primary btn-sm h-25 d-inline-block"href="https://discord.gg/6hcZ37HR" target="_blank">Join our Discord Server!</a>
        </p>
      </div>
    </div>
  </div>
  <div class="container-fluid mb-3">
    <div class="row mt-3">
      <div class="col-lg-8 col-md-10 col-sm-12 mx-auto text-center">
        <h1>
          May's Book Choice
        </h1>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
        <div class="image">
            <a href="https://www.janelleshane.com/book-you-look-like-a-thing">
              <img src="https://images.squarespace-cdn.com/content/v1/5d62d15300eb5b0001437ac0/1571423079485-IZV5TPVFXY5KUGTU0H1B/ke17ZwdGBToddI8pDm48kF3b0F6TZLT9otilcPsBYFF7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UUIsudu2kQUUvXD3nDtzWC7e7jcZ2kiePDyQxwLmmWY5H3bqxw7fF48mhrq5Ulr0Hg/YouLookLikeAThing_HC2.png?format=1000w"
                class=" border-white" alt="You Look Like a Thing and I Love You">
            </a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 mx-auto text-center justify-content-center">
        <h3>
          <a href="https://www.janelleshane.com/book-you-look-like-a-thing">
            You Look Like a Thing and I Love You
          </a>
        </h3>            
        <h5>By Janelle Shane</h5>
        <p>
          <span class="badge badge-pill primary-color">Machine Learning</span>
          <span class="badge badge-pill primary-color">Computer Science</span>
          <span class="badge badge-pill primary-color">Ethics in computing</span>
        </p>
      </div>
  </div>
    <!-- <form>
      <div class="row justify-content-center align-items-center">
        <div class="offset-1 col-3">
          <div class="form-group">
            <label for="EmailInput"></label>
            <input type="email" class="form-control" id="EmailInput" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="nameInput"></label>
            <input type="text" class="form-control" id="nameInput" placeholder="Name">
          </div>
        </div>
        <div class="col-3">
          <button type="submit" class="btn btn-primary btn-sm h-25 d-inline-block">Let's Read!</button>
        </div>
        </div>
    </form> -->
  </div>

  <!-- Uncomment when we have previous books! -->
  <!-- <div class="container">
    <div class="row">
      <div class="col text-center mb-3 mt-5">
        <h1>Previous Books</h1>
      </div>
    </div>
    <div class="row mb-5">
    {% for bm in site.books %}
      <div class="col-lg-3 col-md-3 col-sm-12 justify-content-center">
        <div class="row">
          <div class="col">
            <div class="image">
              <span class="black_span">
                <a href="{{ bm.url | prepend: site.baseurl | replace: '//', '/' }}">
                  <img src="{{ bm.thumbnail | prepend: site.baseurl | replace: '//', '/' }}"
                    class=" border-white" alt="Code Princess">
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col mt-n3 text-center">
            <h4>{{ bm.month }}</h4>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div> -->
  <div class="container-fluid bckgrnd"
  style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  <div class="row py-5">
    <div class="col col-lg-6 col-md-8 col-sm-12 mx-auto text-center">
      <span class="transparent">
        <div class="post-heading">
          <h3 class="">“The world belongs to those who read.”</h3>
          <h5 class="subheading">- Rick Holland</h5>
        </div>
      </span>
    </div>
  </div>
</div>

  <div class=" mt-5 container">
    <div class="row mb-3">
      <div class="col text-center">
        <h1>Commonly Asked Questions</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3>Does it cost to join?</h3>
        <p>
          NOPE! Everything is totally free!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3>How do I join?</h3>
        <p>
          You can join the discussions on either Discord, or Instagram! Our discord server is where most of the action happens!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3>How do I participate?</h3>
        <p>
          How you participate is totally up to you. Every month we will pick a new book and topic. 
          If that book interests you, then give it a read! If the book isn't something you're interested in, then skip this month. 
          Once you finish a book, tell us what you thought and learned and join the discussion.
        </p>
      </div>
    </div>
  </div>